table{
    width:100% ;
    border: 1px solid #000;
    border-collapse:collapse ;
}
th {
    width: 33%;
    border: 1px solid #000;
    background: #77DD77;
     color: white;
}
td{
    width: 33%;
    border: 1px solid #000;
    
}
.infe{
    text-align:center;
}
.ab{
    background: #BDECB6;
}