/*selector universal */
* {
    color: blueviolet;
}
/* selector clase */
.gold{
    color: red;
}
/*selector de id*/
#hoja {
    color: yellowgreen;
}
/*selector descendiente*/
div article p, h1, div h2 {
    color: teal;
}
/*combinacion de selectores*/
p, h3, h2 {
    color: brown;
}